@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>
    This is just a demo webpage using ASP MVC 3 native login/logout, authentication via Facebook OAuth 2.0
    and also provide API tokens to third party applications to connect to this app using OAuth.
</p>
