@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<p>
    @if (Request.IsAuthenticated)
    {
        <text>
            If you are seeing this text, this means that you are successfully logged in!
        </text>
    
    }
    else
    {
        <text>
            You are not logged in.
        </text>
    }
</p>
