@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    this is a demo webpage using native login/logout, authentication via Facebook OAuth
    and also provide API keys to third party applications to connect to this app.
</p>
